@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
}
canvas {
}
